# =========================
# CONFIG - Mantener carpeta, ignorar contenido
# =========================
config/*
!config/.gitkeep

# =========================
# LOGS - Mantener carpeta y scripts, ignorar salidas
# =========================
log/*
!log/logEvent.py
!log/__init__.py
!log/.gitkeep

# =========================
# PYTHON BUILD / CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENTORNOS Y ARCHIVOS TEMPORALES
# =========================
.env
venv/
*.tmp
*.bak
*.swp
*.log

# =========================
# SISTEMA / EDITOR
# =========================
.DS_Store
Thumbs.db
