# =========================
# CONFIG - Mantener carpeta y ejemplos, ignorar credenciales
# =========================
config/*
!config/.gitkeep
!config/*.example

# =========================
# LOGS - Mantener carpeta y scripts, ignorar salidas
# =========================
log/*
!log/logEvent.py
!log/__init__.py
!log/.gitkeep

# =========================
# UTILITIS - Mantener todos los módulos, ignorar salidas
# =========================
utilitis/__pycache__/
utilitis/*.txt
utilitis/*.json
utilitis/*.csv


# =========================
# PYTHON BUILD / CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENTORNOS Y ARCHIVOS TEMPORALES
# =========================
.env
venv/
*.tmp
*.bak
*.swp
*.log

# =========================
# SISTEMA / EDITOR
# =========================
.DS_Store
Thumbs.db
